body {
    font-family: 'VT323', monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-bottom: 4px solid #333;
    text-align: center;
}

header h1 {
    font-size: 32px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1); /* Lighter shadow color */
    margin: 0 10px;
}

.title-icon-left, .title-icon-right {
    width: 40px;
    height: auto;
}

main {
    width: 90%;
    margin: 20px auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    margin: 10px 0;
}

th, td {
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
    vertical-align: middle; /* Ensure text is vertically centered */
}

th {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
}

td {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Specific styles for rank and score */
th.rank, td.rank {
    font-size: 20px;
    font-weight: bold;
}

th.score, td.score {
    font-size: 20px;
    font-weight: bold;
}

tr:hover td {
    background-color: #f1f1f1;
}

.hidden-row {
    display: none;
}

.hidden-row.expanded {
    display: table-row;
}

.hidden-row td {
    padding: 0;
    border-bottom: none;
    background-color: #ffffff;
}

.hidden-row td:hover {
    background-color: #ffffff; /* Prevent hover highlight */
}

.blockquote-container {
    margin: 0;
    padding: 10px 16px;
    background-color: #ffffff; /* Set to white */
    box-shadow: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tiktok-embed {
    margin: auto;
    background-color: #ffffff; /* Set to white */
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

/* Mobile Optimization */
@media (max-width: 600px) {
    header {
        padding: 15px;
        flex-direction: row;
        justify-content: center;
    }

    header h1 {
        font-size: 24px;
        margin: 0 5px;
    }

    .title-icon-left, .title-icon-right {
        width: 30px;
        margin: 0 5px;
    }

    main {
        width: 90%;
        margin: 10px auto;
    }

    table {
        font-size: 12px;
    }

    th, td {
        font-size: 12px;
        padding: 8px;
    }

    th.rank, td.rank {
        font-size: 18px;
    }

    th.score, td.score {
        font-size: 18px;
    }
}
