body {
    font-family: 'VT323', monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: 4px solid #333;
    text-align: center;
    flex-wrap: nowrap;
}

header h1 {
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    flex-grow: 1;
}

.title-icon-left, .title-icon-right {
    width: 30px;
    height: auto;
}

main {
    width: 100%;
    margin: 10px auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed;
}

th, td {
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
}

th {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
}

td {
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

tr:hover td {
    background-color: #f1f1f1;
}

.hidden-row {
    display: none;
}

.hidden-row.expanded {
    display: table-row;
}

.hidden-row td {
    padding: 0;
    border-bottom: none;
    background-color: #ffffff;
}

.hidden-row td:hover {
    background-color: #ffffff; /* Prevent hover highlight */
}

.blockquote-container {
    margin: 0;
    padding: 10px 16px;
    background-color: #ffffff; /* Set to white */
    box-shadow: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tiktok-embed {
    margin: auto;
    background-color: #ffffff; /* Set to white */
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

/* Mobile Optimization */
@media (max-width: 600px) {
    header {
        padding: 10px;
        flex-direction: row;
        justify-content: center;
    }

    header h1 {
        font-size: 16px;
        margin: 0 5px;
    }

    .title-icon-left, .title-icon-right {
        width: 20px;
        margin: 0 5px;
    }

    main {
        width: 100%;
        margin: 5px auto;
    }

    table {
        font-size: 10px;
    }

    th, td {
        font-size: 10px;
        padding: 4px;
    }
}
